*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto" , sans-serif;
}

.fContainer {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: lightcyan;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 15px;
    width: 100% !important;
    height: 80px;
    background-color: darkseagreen;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.3);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation > li {
    list-style-type: none;
    padding: 15px;
}

.navigation > li > a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
}

.navigation > li > a:hover {
    color: green;
    transition: all .2s ease-in-out;
}

.daftar {
    background-color: green;
    color: white;
    padding: 14px;
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.3);
}

.daftar:hover {
    color: white !important;
    background-color: rgb(1, 107, 1);
}
